<h2 class="display-3 mb-5">{{ page.title }} List</h2>
<!-- <p>Book Category Filter</p> -->
<!-- <div class="btn-group btn-group-toggle mb-5" data-toggle="buttons">
  <label class="btn btn-outline-primary">
    <input type="radio" class="filter-button" name="options" id="option1" data-filter="all"> All
  </label>
{% assign keylist = site.data.key %}
{% for key in keylist %}
<label class="btn btn-outline-primary">
  <input type="radio" class="filter-button" name="options" id="option{{ key.index }}" data-filter="{{ key.KEY }}"> {{ key.Category }}
</label>
{% endfor %}
</div> -->

<!-- <div class="btn-group dropright">
  <button class="btn btn-outline-primary filter-button active" type="button" data-filter="all">All</button>
  <button class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    {% for key in keylist %}
    <button class="dropdown-item filter-button" data-filter="{{ key.KEY }}" type="button">{{ key.Category }}</button>
    {% endfor %}
  </div>
</div>

<button type="button" class="btn btn-primary">
  Animals <span class="badge badge-light">X</span>
</button> -->


<div class="row row-cols-1 row-cols-md-4 mt-5">
{% assign booklist = site.data.books | sort: 'title'  %}
{% for book in booklist %}
  {% if book.age contains page.category %}
  <div class="col mb-5 book {{ book.cat }} filter">
    <div class="card border-secondary shadow-sm h-100">
      <img src="{{ book.image }}" loading="lazy" class="card-img-top" alt="{{ book.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">{{ book.author }}</p>
        <a href="{{ book.link }}" class="stretched-link">${{ book.price }}</a>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>

